body{margin:0;font-family:Lato,sans-serif;background:#fff;color:#333}
.hero{height:70vh;background:#7c5239;color:#fff;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center;}
